html {
  font-size: 16px;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

a:visited {
  color: #909;
}

header,
section {
  text-align: left;
}

ol > li,
dl > dt,
dl > dd {
  margin-bottom: .5rem;
}

footer {
  font-size: .9rem;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 65%;
}

dl {
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
}

dl dt {
  clear: left;
  float: left;
  width: 30%;
}

dl dd {
  float: left;
}

/* media queries */
@media (max-width: 900px) {
  html { font-size: 17px; }
  .wrapper {
    width: 85%;
  }
}
@media (max-width: 400px) {
  html { font-size: 15px; }
  .wrapper {
    width: 95%;
  }
}